html {
    font-size: 10px;
    background: url('./background.jpg') bottom center;
    background-size: cover;
}

body, html {
    margin: o;
    padding: 0;
    font-family: sans-serif;
}

.key {
    border: .4rem solid rgba(255, 0, 191, 0.555);
    border-radius: 3rem;
    margin: 1.5rem;
    font-size: 2rem;
    padding: 1rem .5rem;
    transition: all .2s ease;
    width: 10rem;
    text-align: center;
    color: blueviolet;
    background: black;
    text-shadow: 0 0 .5rem red;

}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: brown;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #0e0d01;
  }
